.buildpath
/.cache
/.metadata
/.project
/.settings
/sitemaps
/.idea
/.gitattributes
/app/etc/env.php
/app/code/MageGuide/SQLConnect/etc/crontab.xml
/dev/tests
/app/etc/config.php
/app/etc/config.php.old
vendor/autoload.php
vendor/composer/ClassLoader.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/include_paths.php
vendor/composer/platform_check.php

/pub
/pub/*
pub/feed
pub/feeds
pub-p093937b
pub-p093937b/

/setup

/var

/generated

/node_modules

/update

/sslvalidation

/*.*.sample
/auth.json

/*.sql

/*.pem

!/composer.json
!/composer.lock
!/README.md

/generated.old

/vpn_test.php


vendor/composer/autoload_classmap.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
